.chapterCard {
  @apply grid gap-x-2 gap-y-1;
}

.chaptersOnly {
  grid-template-areas:
    "title"
    "chapters";
  grid-template-columns: minmax(0, 1fr);
  @apply p-1;
}

.withCover {
  grid-template-areas:
    "title title"
    "cover chapters"
    "button button";
  grid-template-columns: 48px minmax(0, 1fr);
  @apply p-1 sm:p-2;
}

.chapters {
  grid-area: chapters;
}

.title {
  grid-area: title;
}

.cover {
  grid-area: cover;
}

.button {
  grid-area: button;
}

@media (min-width: theme(screens.sm)) {
  .withCover {
    grid-template-areas:
      "cover title"
      "cover chapters"
      "cover button";
    grid-template-columns: 120px minmax(0, 1fr);
  }
}

@media (min-width: theme(screens.md)) {
  .withCover {
    grid-template-columns: 140px minmax(0, 1fr);
    grid-template-rows: auto minmax(0, 1fr) auto;
  }
}
