@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .title-card {
    @apply grid gap-x-2 gap-y-1 p-2;
  }

  .dense {
    grid-template-areas:
      "cover title author stats status"
      "cover tags tags tags tags"
      "cover description description description description";

    grid-template-columns: 84px auto 1fr auto auto;
    grid-template-rows: auto auto 1fr;
  }

  .normal {
    grid-template-areas:
      "cover title"
      "cover stats"
      "cover tags"
      "cover description";

    grid-template-columns: min(25%, 150px) 1fr;
    grid-template-rows: auto auto auto 1fr;
  }

  .cover-only {
    @apply block p-0 relative;
  }

  .cover {
    grid-area: cover;
  }

  .title {
    grid-area: title;
  }

  .author {
    @apply overflow-y-hidden text-ellipsis whitespace-nowrap;
    grid-area: author;
  }

  .stats {
    grid-area: stats;
  }

  .status {
    grid-area: status;
  }

  .tags {
    grid-area: tags;
  }

  .description {
    @apply relative overflow-y-hidden text-sm leading-5;
    grid-area: description;
  }

  .description::after {
    @apply content-["_"] block absolute w-full bottom-0 right-0 h-5 bg-gradient-to-t from-secondary;
  }

  .cover-only .title {
    @apply w-full px-4 pt-3 pb-2 absolute bottom-0 left-0 z-10 text-white font-normal text-sm leading-6 line-clamp-2 sm:line-clamp-3 md:line-clamp-4 lg:line-clamp-5 bg-gradient-to-t from-black;

    text-shadow: 0 0 3px theme(colors.black);
  }

  .cover-only .cover {
    @apply w-full inline-block;
  }

  .dense .title,
  .dense .author {
    @apply overflow-hidden overflow-ellipsis whitespace-nowrap;
  }

  .dense .status {
    display: inline;
  }

  .normal .author,
  .cover .author,
  .normal .status,
  .cover .status,
  .cover-only .stats,
  .cover-only .tags,
  .cover-only .status,
  .cover-only .author {
    display: none;
  }

  .dense .description {
    max-height: 4.3em;
  }

  .normal .description {
    height: 8.6em;
  }

  .cover-only .description {
    display: none;
  }

  @media (max-width: theme(screens.sm)) {
    .dense {
      grid-template-areas:
        "cover title"
        "cover stats"
        "cover tags"
        "description description";

      grid-template-columns: 64px 1fr;
      grid-template-rows: auto auto 1fr auto;
    }

    .dense .author,
    .dense .status {
      display: none;
    }
  }
}
