.dense {
    grid-template-areas:
        "cover title author stats status"
        "cover tags tags tags tags"
        "cover description description description description";

    grid-template-columns: 84px auto 1fr auto auto;
    grid-template-rows: auto auto 1fr;
}

.normal {
    grid-template-areas:
        "cover title"
        "cover stats"
        "cover tags"
        "cover description";

    grid-template-columns: min(25%, 150px) 1fr;
    grid-template-rows: auto auto auto 1fr;
}

@media (max-width: 640px) {
    .dense {
        grid-template-areas:
            "cover title"
            "cover stats"
            "cover tags"
            "description description";

        grid-template-columns: 64px 1fr;
        grid-template-rows: auto auto 1fr auto;
    }
}

.cover {
    grid-area: cover;
}

.title {
    grid-area: title;
}

.author {
    grid-area: author;
}

.stats {
    grid-area: stats;
}

.status {
    grid-area: status;
}

.tags {
    grid-area: tags;
}

.description {
    grid-area: description;
}